@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap");
* {
  padding: 0px;
  margin: 0px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif; }

h1 {
  padding: 5vh;
  text-align: center;
  font-size: 70px;
  color: black; }

h2 {
  font-size: 40px;
  color: black; }

h3 {
  font-size: 25px;
  color: black; }

p,
li,
a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: black; }

header img {
  width: 35%;
  margin-left: 0px;
  padding-bottom: 3px; }

.bg-body-tertiary {
  background-color: #A7A5C6 !important; }

.nav-link.active,
.nav-link {
  font-family: "Oswald";
  font-size: 17px;
  padding: 2vh;
  color: black; }
  .nav-link.active:hover,
  .nav-link:hover {
    color: grey;
    font-weight: bold;
    text-align: center; }

nav ul li {
  display: inline;
  margin: 2vh; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    padding: 3vh; }
  .bg-body-tertiary {
    height: 8vh; }
  header img {
    width: 30%; } }

main {
  min-height: 100vh;
  /* width: 100%; */ }

.main-index {
  min-height: 100vh; }
  .main-index img {
    width: 100%; }
  .main-index h1 {
    padding: 5vh;
    text-align: center; }

.container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5vh;
  padding: 4vh;
  align-items: center;
  padding-bottom: 5vh; }
  .container h1 {
    text-align: left; }
  .container img {
    width: 100%;
    padding: 3vh;
    margin-top: 14vh; }
  .container p {
    font-size: 19px;
    text-align: justify; }

@media (max-width: 768px), (max-width: 1023px) {
  * {
    margin: 0;
    padding: 0; }
  .container {
    margin: auto;
    padding: 2vh;
    padding-bottom: 4vh;
    display: block; }
    .container img {
      margin: 0;
      padding: 0;
      display: block;
      padding-top: 2vh; } }

.main__biografia {
  display: inline; }

.card-img-top {
  width: 100%; }

.list-group-item img {
  width: 15%; }

.card {
  grid-area: card;
  padding-bottom: 3px; }
  .card h2 {
    color: white;
    padding: 5px;
    background-color: #633863;
    margin: 5px;
    text-align: center; }
  .card h5 {
    font-size: 18px; }
  .card li {
    font-size: 15px; }

.biografia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "historia historia historia card";
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-content: center; }

.resto {
  padding-left: 70px;
  padding-right: 70px;
  text-align: justify; }

.biografia__historia {
  grid-area: historia;
  padding-left: 70px; }
  .biografia__historia p {
    text-align: justify;
    overflow: break-word; }

.biografia__resto {
  padding-left: 70px;
  padding-right: 70px;
  text-align: justify; }

.cursiva {
  font-style: italic; }

.btn.btn-primary {
  align-items: center;
  background-color: #191414;
  border: none; }

@media (min-width: 1478px) {
  .card-img-top {
    width: 40%;
    display: block;
    margin: auto; }
  .card h2 {
    color: white;
    padding: 0px;
    text-align: center; }
  .card h5 {
    font-size: 16px; }
  .card .card h5 {
    font-size: 16px; } }

@media (max-width: 768px), (max-width: 1023px) {
  h1 {
    margin: 0;
    padding: 5%;
    padding-bottom: 2%;
    font-size: 55px; }
  .biografia__resto,
  .biografia__historia {
    margin: 3%;
    padding: 3%; }
  .biografia {
    display: block; }
  .card {
    margin: auto; }
    .card li {
      font-size: 18px; }
  ul,
  ol {
    padding-left: 0rem; } }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 220px;
  margin-left: 50px;
  margin-right: 50px;
  grid-gap: 10px; }

.gallery_img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.gallery-item:nth-child(6) {
  grid-column-start: span 2;
  grid-column-start: span 2; }

.gallery-item:nth-child(1) {
  grid-row-start: span 2; }

.gallery-item:nth-child(2) {
  grid-row-start: span 2; }

.gallery-item:nth-child(5) {
  grid-row-start: span 2; }

.gallery-item:nth-child(7) {
  grid-column-start: span 2; }

.gallery-item:nth-child(9) {
  grid-column-start: span 2; }

.gallery-item:nth-child(10) {
  grid-column-start: span 2; }

@media (max-width: 768px), (max-width: 1023px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    padding: 5px;
    grid-gap: 10px;
    margin: 0; }
  .gallery-item:nth-child(11) {
    grid-row-start: span 2; } }

.disco {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center; }
  .disco h2 {
    padding: 3vh;
    font-size: 50px;
    width: 1em;
    text-align: justify;
    padding: 2px; }

.card-text-discos {
  text-align: center; }

.btn.btn-primary {
  align-items: center;
  background-color: #191414;
  border: none;
  font-family: "Oswald";
  font-size: 17px; }
  .btn.btn-primary img {
    width: 8%;
    margin: 2px; }

.card h1 {
  color: white;
  padding: 5px; }

.card h5 {
  text-align: center;
  font-family: "Oswald"; }

.card_img {
  width: 100%;
  padding: 8px; }

@media (max-width: 768px), (max-width: 1023px) {
  .disco {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center; }
    .disco h2 {
      width: 6em;
      text-align: center;
      font-size: 30px; }
    .disco .card {
      width: 80% !important;
      margin: 0;
      padding: 0; }
    .disco div {
      width: fit-content; } }

.formulario {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 4%;
  padding: 10px; }
  .formulario img {
    width: 100%; }
  .formulario label {
    font-family: "Oswald", sans-serif;
    font-size: 20px; }

.foto {
  width: 40%; }

.form {
  width: 30%; }

.boton {
  background-color: #633863;
  border-color: #633863;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  color: white;
  padding: 5px; }

.nombre {
  margin-bottom: 1rem; }

@media (max-width: 768px), (max-width: 1023px) {
  .formulario {
    display: block; }
    .formulario img {
      margin: auto;
      width: 100%;
      padding: 2vh; }
    .formulario .boton {
      padding: 2px;
      font-size: 20px; }
    .formulario .foto,
    .formulario .form {
      width: 100%; } }

.footer__flex {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 0; }
  .footer__flex p {
    font-family: "Oswald";
    font-size: 15px;
    color: grey; }
  .footer__flex li {
    display: inline;
    list-style: none;
    padding: 3px; }
  .footer__flex a {
    font-family: "Oswald";
    font-size: 15px;
    color: grey;
    text-decoration: none;
    text-align: center; }
