.formulario {
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 9vh;
    align-items: center;
    padding-top: 10vh;
    width: 100%;
}

.boton {
    background-color: $violeta;
    border-color: $violeta;
    font-family: $titulo;
    font-size: 25px;
    color: white;
    padding: 7px;
}

@media (max-width: 768px),
(max-width:1023px) {
    .formulario {
        display: block;
        padding: 2vh;

        img {
            margin: auto;
            width: 100%;
            padding: 2vh;
        }

        .boton {
            padding: 2px;
            font-size: 20px;
        }
    }
}