

.formulario{
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 9vh;
    align-items: center;
    padding-top: 10vh;
    width: 100%;
}

.boton{
    background-color: $violeta;
    border-color: $violeta;
    font-family: $titulo;
    font-size: 25px;
    color: white;
    padding: 7px;
}




