.gallery-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 220px;
    margin-left: 50px;
    margin-right: 50px;
    grid-gap: 10px;



}

.gallery_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-item {


    &:nth-child(6) {
        grid-column-start: span 2;
        grid-column-start: span 2;
    }


    &:nth-child(1) {
        grid-row-start: span 2;

    }

    &:nth-child(2) {
        grid-row-start: span 2;

    }


    &:nth-child(5) {
        grid-row-start: span 2;
    }

    &:nth-child(7) {
        grid-column-start: span 2;
    }

    &:nth-child(9) {
        grid-column-start: span 2;
    }


    &:nth-child(10) {
        grid-column-start: span 2;
    }
}

@media (max-width: 768px),
(max-width:1023px) {

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2fr;
        padding: 5px;
        grid-gap: 10px;
        margin: 0;
    }

    .gallery-item:nth-child(11) {
        grid-row-start: span 2;
    }


}