@media (max-width: 768px),
(max-width:1023px) {

    * {
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 0;
        padding: 2vh;
        padding-bottom: 4vh;
        display: block;

        img {
            margin: 0;
            padding: 0;
            display: block;
            padding-top: 2vh;
        }

    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2fr;
        padding: 20px;
        grid-gap: 10px;
        margin: 0;
    }

    .gallery-item:nth-child(11) {
        grid-row-start: span 2;
    }

}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
        padding: 3vh;
    }



    @media (min-width: 1478px) {
        .card-img-top {
            width: 40%;
            display: block;
            margin: auto;
        }

        .card {
            h2 {
                color: white;
                padding: 0px;
                text-align: center;
            }

            h5 {
                font-size: 16px;
            }

            .card h5 {
                font-size: 16px;
            }
        }
    }

}