@font-face {
    font-family: "OpenSans" ;
    src: url(../recursos/typo/OpenSans-VariableFont_wdth\,wght.ttf)
}

@font-face {
   font-family:"Oswald" ;
    src: url(../recursos/typo/Oswald-VariableFont_wght.ttf);
}

